// body
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

%border-bk{
  border: 1px solid #000;
}

@mixin width-height($width:100vw, $height:100vh) {
  width: $width;
  height: $height;
}

@mixin display-align-justify($display:flex, $align:center, $justify:center) {
  display: $display;
  align-items: $align;
  justify-content: $justify;
}

// style
#root {
  @include width-height;
  @include display-align-justify;
  flex-direction: column;
  & {
    button {
      background: none;
      height: 30vh;
    }
    #num-con {
      @include width-height;
      height: 30vh;
      @include display-align-justify;
    }
  }
}